/libraries
/logs
/cache
/versions

/world*

/plugins/dynmap
!/plugins/dynmap/configuration.txt

/plugins/ChunkLoader
!/plugins/ChunkLoader/config.yml

/plugins/Ethereal
!/plugins/Ethereal/commands.yml
!/plugins/Ethereal/config.yml

/plugins/Multiverse-Core
!/plugins/Multiverse-Core/config.yml

/plugins/Multiverse-NetherPortals
!/plugins/Multiverse-NetherPortals/config.yml

usercache.json
ops.json
banned-players.json
banned-ips.json
usercache.jso
version_history.json
whitelist.json
help.yml
eula.txt

*.jar

